<main *ngIf="quizz.current">
  <app-timer [counter]="5" (dringdring)="timeout($event)"></app-timer>
  <h1>Quizz: {{ quizz.current.name }}</h1>
  <h2>Question : {{ quizz.progress.questionId + 1 }}</h2>
  <p>{{ quizz.current.questions[quizz.progress.questionId].label }}</p>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label *ngFor="let letter of ['A', 'B', 'C', 'D']">
      <input type="radio" formControlName="givenAnswer" [value]="letter" />
      <span class="letter">{{ letter }}</span>
      <span class="answer">{{
        quizz.current.questions[quizz.progress.questionId]['answer' + letter]
      }}</span>
    </label>
    <button type="submit" class="primary" [disabled]="f.invalid">
      Valider
    </button>
  </form>
</main>

{{ f.value | json }}
