<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
    aspernatur maiores commodi sequi aut velit deserunt, iure soluta ea,
    repellat, sint corporis neque nisi est nihil illo ipsum tempora perferendis.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum suscipit
    cupiditate temporibus minima illum porro, assumenda cumque dolorem eius
    alias harum perferendis ad. Explicabo eos laudantium exercitationem mollitia
    temporibus libero.
  </p>
</main>
