<main>
  <h1>Ajoute une question</h1>
  <form>
    <label>
      <div>Libellé</div>
      <textarea rows="3"></textarea>
    </label>
    <div class="answers">
      <label *ngFor="let letter of ['A', 'B', 'C', 'D']">
        <span>{{ letter }}</span>
        <input type="text" />
        <input type="radio" />
      </label>
    </div>
    <div class="buttons">
      <button routerLink="/setup">Annuler</button>
      <button routerLink="/setup" class="primary">Ajouter</button>
    </div>
  </form>
</main>
